:root {
    /* --color-bg: #FFF3E0;
    --color-primary: #FECA57;
    --color-second: #E5A437;
    --color-third: #212121; */
    --color-bg: #F0F0F0;      
--color-primary: #af6243; 
--color-second: #1A1A1A;   
--color-third: #000000;   
}